<h2>или через социальные сети</h2>
<div class="btn-socseti">
    <a href="{{ path('vk_connect') }}" class="btn btn-vk" title="ВКонтакте">
        <i class="fab fa-vk"></i>
    </a>
    <a href="{{ path('mailru_connect') }}" class="btn btn-primary" title="Mail.ru">
        <i class="fas fa-at"></i>
    </a>
    <a href="{{ path('yandex_connect') }}" class="btn btn-danger" title="Яндекс">
        <i class="fab fa-yahoo"></i>
    </a>
    <a href="{{ path('facebook_connect') }}" class="btn btn-fb" title="Facebook">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="{{ path('google_connect') }}" class="btn btn-gg" title="Google">
        <i class="fab fa-google"></i>
    </a>
</div>