<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CashTan</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{{ asset('img/cashtan_favicon.ico') }}" type="image/x-icon">
    {% endblock %}
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="page-cat">
    {% block header %}
        <header>
            <div class="up-menu">
                <div class="main-menu">
                    <div class="words-href">
                        <div class="leaf-name">
                            <a href="#" class="list-name">
                                <img class="logo-menu" src="{{ asset('img/cashtan-min.png') }}">
                                <strong class="black">CashTan</strong>
                            </a>
                        </div>
                        <div class="center-menu">
                            <a class="point">*</a>
                            <a class="general hat" href="{{ path('main') }}">ГЛАВНАЯ</a>
                            <a class="point">*</a>
                            <a class="catalog-shop hat" href="{{ path('catalog') }}">КАТАЛОГ МАГАЗИНОВ</a>
                            <a class="point">*</a>
                        </div>
                    </div>
                    {% if app.user is null %}
                        <div class="img-href">
                            <div class="right-menu">
                                <a class="entrance hat" href="{{ path('fos_user_security_login') }}">ВХОД</a>
                                <a class="point">*</a>
                                <a class="checkin hat" href="{{ path('fos_user_registration_register') }}">РЕГИСТРАЦИЯ</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="img-href">
                            <div class="right-menu">
                                <div class="win-fio">
                                    <img class="avat" src="{{ asset('img/anonym.png') }}">
                                </div>
                            </div>
                            <div class="arrow-up">
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="submenu" id="submenu">
                                <a class="fio">{{ app.user.username }}</a>
                                <li><a href="{{ path('cabinet') }}">Мой профиль</a></li>
                                <li><a href="#">Мой кэшбэк</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Выход</a></li>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </header>
    {% endblock %}
    <div>
        {% for message in app.flashes(constant('App\\Model\\Flash\\FlashTypes::SUCCESS')) %}
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Сообщение</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ message }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(window).on('load', function () {
                    $('#exampleModal').modal('show');
                });
            </script>
        {% endfor %}
        {% block body %}

        {% endblock %}
    </div>
    {% block footer %}
        <footer>
            <div class="down-menu">
                <div class="footer-block">
                    <div class="three-columns">
                        <div class="info down">
                            <p class="name-menu">Информация</p>
                            <ul class="text-small">
                                <li><a class="text-muted" href="{{ path('conditions') }}">Условия использования</a></li>
                                <li><a class="text-muted" href="#">Партнерская программа</a></li>
                            </ul>
                        </div>
                        <div class="service down">
                            <p class="name-menu">Сервисы</p>
                            <ul class="text-small">
                                <li><a class="text-muted" href="{{ path('catalog') }}">Все магазины</a></li>
                                <li><a class="text-muted" href="{{ path('cabinet') }}">Личный кабинет</a></li>


                            </ul>
                        </div>
                        <div class="call down">
                            <p class="name-menu">Обратная связь</p>
                            <ul class="text-small">
                                <li><a class="text-muted" href="{{ path('main', {'_fragment':'faq'}) }}">Частые вопросы</a></li>
                                <li><a class="text-muted" href="#">help@cashtan.ru</a></li>

                            </ul>
                        </div>
                    </div>

                    <div class="one-column">
                        <div class="text-center">
                            <small class="text-logo">© CashTan 2019</small>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/bootbox.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
                integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
                crossorigin="anonymous"></script>
        <script type="text/javascript">
            //scroll to top
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() != 0) {
                        $('#to-top').fadeIn();
                    } else {
                        $('#to-top').fadeOut();
                    }
                });
                $('#to-top').click(function () {
                    $('body,html').animate({scrollTop: 0}, 800);
                });
            });
            //user menu
            $(function () {
                $(".avat, .arrow-up").click(function () {
                    $("#submenu").slideToggle();
                    $(".arrow-up").toggleClass("arrow-down", 800);
                });
            });
        </script>
    {% endblock %}
</div>
</body>
</html>
