<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CashTan</title>
    <link rel="stylesheet" href="{{ asset('css/landing.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ asset('img/cashtan_favicon.ico') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="page_wrapper">
    <header class="tosh">
        <div class="header">
            <!--карусель-->
            <div class="welcome">
                <img class="img-fluid" src="{{ asset('img/laptop.png') }}">
                <div class="tagline">
                    <span>Совершай покупки</span><br>
                    <span>в любимых магазинах</span><br>
                    <span>и возвращай</span><br>
                    <span class="num">до 30%</span>
                    <br>
                    <span>от стоимости</span>
                    <div>
                        <a href="{{ path('fos_user_registration_register') }}" class="entry">Регистрация</a>
                    </div>
                </div>
            </div>
            <!--процесс-->
            <div class="title how">КAК ЭТО РАБОТАЕТ</div>
            <div class="process-block">
                <div class="process-shopping">
                    <i class="fas fa-7x fa-desktop "></i>
                    <p>1. ВЫБИРАЙ ЛЮБОЙ МАГАЗИН</p>
                </div>

                <div class="basket process-shopping">
                    <i class="fas fa-7x fa-shopping-basket"></i>
                    <p>2. СОВЕРШАЙ ПОКУПКИ</p>
                </div>

                <div class="card process-shopping">
                    <i class="fas fa-7x fa-credit-card"></i>
                    <p>3. ПОЛУЧАЙ ЧАСТЬ ДЕНЕГ ОБРАТНО</p>
                </div>

            </div>
            <!--каталог магазинов-->
            <div class="title shops">КAТАЛОГ МАГАЗИНОВ</div>
            <div class="shop-block">
                {% for cashback in cashbacks %}
                    <div class="square">
                        <div class="shop-window">
                            <div class="item">
                                <div class="logo blok1">
                                    <img src="{{ cashback.cashBackImage }}" alt="{{ cashback.title }}" itemprop="image">
                                </div>
                                <div class="cash_proc blok2">
                                    <span class="word_cash">кэшбэк</span>
                                    <span class="do">до</span>
                                    <span class="cifra">{{ cashback.cash }}</span>
                                </div>
                                <div class="or_but blok3">
                                    <a href="{{ path('cashback_page', {'slug': cashback.slug}) }}" class="button_t">Перейти в магазин</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="blok4">
                <a href="{{ path('catalog') }}" class="buttons">Смотреть все магазины</a>
            </div>
        </div>

        <!--вопросы и ответы-->
        <div class="title ques"><a name="faq">ВОПРОСЫ И ОТВЕТЫ</a></div>
        <div class="faq">
            {#            TODO faq to database#}
            <!--1-->
            <div class="panel-body">
                <div class="panel-question">
                    <a href="#" class="link-faq">Что такое кэшбэк?</a>
                    <div class="panel-answer">
                        <span>
                            Cashback (Кэшбэк) — это скидка в виде возврата части стоимости покупки на счёт покупателя в личном кабинете.
                        </span>
                    </div>
                </div>
            </div>

            <!--2-->
            <div class="panel-body">
                <div class="panel-question">
                    <a href="#" class="link-faq">Как пользоваться кэшбэк-сервисом?</a>

                    <div class="panel-answer">
                        <span>
                            Для того, чтобы получать кэшбэк, необходимо:<br>1. Зарегистрироваться.<br>2. Выбрать любимый магазин на сайте CashTan в меню Каталог магазинов.<br>3. Ознакомиться с правилами и условиями выплаты кэшбэка в выбранном магазине, после чего нажать на кнопку "Перейти в магазин".<br>4. Выбрать товар, оплатить его.<br>5.	Через некоторое время кэшбэк будет начислен на баланс в личном кабинете.
                        </span>
                    </div>
                </div>
            </div>

            <!--3-->
            <div class="panel-body">
                <div class="panel-question">
                    <a href="#" class="link-faq">Сколько денег возвращается с покупок?</a>

                    <div class="panel-answer">
                        <span>
                            Процент возврата указан в описании каждого предложения на странице магазина.
                        </span>
                    </div>
                </div>
            </div>


            <!--4-->
            <div class="panel-body">
                <div class="panel-question">
                    <a href="#" class="link-faq">Через какое время я получу деньги?</a>

                    <div class="panel-answer">
                        <span>
                        Возврат cashback занимает примерно от 45-60 дней с момента оплаты покупки, в некоторых случаях срок может достигать 120 дней.
                        </span>
                    </div>
                </div>
            </div>


            <!--5-->
            <div class="panel-body">
                <div class="panel-question">
                    <a href="#" class="link-faq">Какие способы вывода доступны для получения кэшбэка?</a>

                    <div class="panel-answer">
                        <span>
                        В данный момент доступен вывод на мобильный телефон российских операторов связи.
                        </span>
                    </div>
                </div>
            </div>


            <!--6-->
            <div class="panel-body">
                <div class="panel-question">
                    <a href="#" class="link-faq">По какой причине размер сэкономленных средств за покупку меньше, чем я
                        рассчитывал?</a>

                    <div class="panel-answer">
                        <span>
                        Возможно, это связано с тем, что размер сэкономленных средств рассчитывается на основе цены покупки, которая не включает доставку, налоги, возврат, гарантию и другие расходы.
                        </span>
                    </div>
                </div>
            </div>


            <!--7-->
            <div class="panel-body">
                <div class="panel-question">
                    <a href="#" class="link-faq">В каких случаях cashback может не начисляться?</a>

                    <div class="panel-answer">
                        <span>
                        Использование программы Adblock и других аналогичных программ блокировки всплывающих окон, рекламы может повлиять на начисление кэшбэка.
                        </span>
                    </div>
                </div>
            </div>


            <!--8-->
            <div class="panel-body">
                <div class="panel-question">
                    <a href="#" class="link-faq">Можно ли получить cashback за ранее осуществленные покупки в тех же
                        магазинах, что и представленные
                        на вашем сайте?</a>

                    <div class="panel-answer">
                        <span>
                        К сожалению, за те покупки, которые были сделаны до регистрации на сайте CashTan.ru, нельзя сделать возврат денежных средств.
                        </span>
                    </div>
                </div>
            </div>


            <!--9-->
            <div class="panel-body">
                <div class="panel-question">
                    <a href="#" class="link-faq">Безопасно ли это?</a>

                    <div class="panel-answer">
                        <span>
                        Это совершенно безопасно, поскольку наш сервис работает только с открытыми данными, необходимыми для осуществления перевода денежных средств на Ваш мобильный номер.
                        </span>
                    </div>
                </div>
            </div>


            <!--10-->
            <div class="panel-body">
                <div class="panel-question">
                    <a href="#" class="link-faq">Я не нашел ответа на свой вопрос.</a>
                    <div class="panel-answer">
                        <span>
                       Вы можете задать свой вопрос, написав нам письмо по адресу help@cashtan.ru. Будем рады ответить на все Ваши вопросы.
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="title"></div>

        <div id="to-top">
            <i class="fas fa-caret-square-up fa-4x"></i>
        </div>
    </header>
</div>
<!--FAQ-->
<script type="text/javascript">
    $(function () {
        $(".link-faq").click(function (event) {
            event.preventDefault();
            var panel = $(this).next();
            if (panel.css('display') === 'none') {
                $('.panel-answer').slideUp();
                panel.slideDown();
            } else {
                panel.slideUp();
            }
        });
    });
    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() != 0) {
                $('#to-top').fadeIn();
            } else {
                $('#to-top').fadeOut();
            }
        });
        $('#to-top').click(function () {
            $('body,html').animate({scrollTop: 0}, 800);
        });
    });
</script>
</body>
</html>
