{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('static/catalog.css') }}">
{% endblock %}

{% block body %}
    <div class="catalog row">
        <div class="col-sm-4">
            <div class="row_cat">
                <div class="cell"><a href="#">Авто</a></div>
                <div class="cell"><a href="#">Для дома и дачи</a></div>
                <div class="cell"><a href="#">Доставка еды</a></div>
                <div class="cell"><a href="#">Зоотовары</a></div>
                <div class="cell"><a href="#">Книги</a></div>
                <div class="cell"><a href="#">Красота и здоровье</a></div>
                <div class="cell"><a href="#">Мебель</a></div>
                <div class="cell"><a href="#">Одежда и обувь</a></div>
                <div class="cell"><a href="#">Развлечения и досуг</a></div>
                <div class="cell"><a href="#">Подарки и цветы</a></div>
                <div class="cell"><a href="#">Спорт</a></div>
                <div class="cell"><a href="#">Товары для детей</a></div>
                <div class="cell"><a href="#">Товары для дома</a></div>
                <div class="cell"><a href="#">Товары для творчества</a></div>
                <div class="cell"><a href="#">Товары из Китая</a></div>
                <div class="cell"><a href="#">Туризм и путешествия</a></div>
                <div class="cell"><a href="#">Цифровая и <br>бытовая техника</a></div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="row">
                <div class="find"><input type="text" name="find" id="find" placeholder="Искать по названию"></div>
            </div>

            <div class="row">
                {% for cashback in cashbacks %}
                    <div class="col-sm-4">
                        <div class="shop-window">
                            <img src="{{ cashback.cashBackImage.filePath }}">
                            <div>
                                <small>{{ cashback.id }}</small>
                                <small>{{ cashback.title }}</small>
                                <small>{{ cashback.url }}</small>
                                <small>{{ cashback.cash }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}