{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('static/page_shop.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('static/page_shop.js') }}"></script>
{% endblock %}

{% block body %}
    <div>
        <div class="info row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 row">
                <!--левая колонка-->
                <div class="logo_shop col-sm-3 text-center">
                    <img class="logo_img" src="/{{ cashback.cashBackImage }}">
                    <!--процент кэшбэка-->
                    <div class="cash_proc">
                        <span class="word_cash">кэшбэк</span>
                        <span class="do">до</span>
                        <span class="cifra">{{ cashback.cash }}</span>
                        <span class="znak_proc">%</span>
                    </div>
                    {% if app.user is not null %}
                        <a href="{{ path('cashback_tracking', {"id": cashback.id}) }}" class="btn btn-secondary btn-lg btn-shop">В магазин</a>
                    {% else %}
                        <a href="#" class="btn btn-secondary btn-lg auth-required" data-message="{{ "Чтобы воспользоваться кэшбеком, необходимо авторизоваться" | trans }}">В магазин</a>
                    {% endif %}
                </div>
                <div class="content_shop col-sm-9">
                    <h4>Информация о магазине</h4>
                    <p>
                        {#TODO fixture cashback with image and description#}
                        {{ cashback.description }}
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}